<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заметки</title>
</head>
<body>
<h1>Создание заметок </h1>

<table>
    <tr>
        <th>ID</th>
        <th>Заголовок</th>
        <th>Содержимое</th>
        <th>Дата создания</th>
    </tr>
    <tr th:each="note: ${notes}" >

        <td th:text="${note.ID}"></td>
        <td th:text="${note.title}"></td>
        <td th:text="${note.content}"></td>
        <td th:text="${note.timeOfCreation}"></td>

    </tr>
</table>
<h2>Введите данные</h2>
<form action="/notes" method="post">
    ID:   <input type="text" name="ID"><br />
    Title:      <input type="text" name="title"><br />
    Content:      <input type="text" name="content"><br />
    TimeOfCreation: <input type="number" step="any" name="timeOfCreation"><br />
    <button type="submit">Добавить</button>
</form>
</body>
</html>